.place-order {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}

.place-order-left {
    width: 100%;
    max-width: max(30%, 500px);
    box-sizing: border-box;
}

.place-order-left .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.place-order-left input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: #a36c48;
    box-sizing: border-box;
}

.place-order-left .multi-fields {
    display: flex;
    gap: 10px;
    width: 100%;
}

.place-order-right {
    width: 100%;
    max-width: max(40%, 500px);
    box-sizing: border-box;
}

.action-buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 25px;
    width: 100%;
}

.place-order .order-btn,
.place-order .paystack-btn {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    padding: 14px 0px;
    box-sizing: border-box;
}

.place-order .paystack-btn {
    background: #09a5db;
    color: white;
    border: 2px solid #09a5db;
}

.place-order .paystack-btn:hover {
    background: #078cb8;
    border-color: #078cb8;
}

.place-order .order-btn {
    background: #ffffff;
    color: #25D366;
    border: 2px solid #25D366;
}

.place-order .order-btn:hover {
    background: #25D366;
    color: white;
}

.place-order .order-btn svg,
.place-order .paystack-btn svg {
    font-size: 18px;
}

.custom-divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #9c9c9c;
    font-size: 12px;
    font-weight: 700;
    margin: 4px 0;
}

.custom-divider::before,
.custom-divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #e8e8e8;
}

.custom-divider span {
    padding: 0 10px;
}

@media (max-width: 900px) {
    .place-order {
        flex-direction: column;
        gap: 40px;
        margin-top: 60px;
    }
    .place-order-left,
    .place-order-right {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .place-order {
        padding: 0 20px 80px 20px;
    }
    .place-order-left .title {
        margin-bottom: 30px;
        font-size: 26px;
    }
}

@media (max-width: 480px) {
    .place-order {
        padding: 0 15px 70px 15px;
        margin-top: 40px;
    }
    .place-order-left .title {
        font-size: 22px;
    }
    .place-order-left .multi-fields {
        flex-direction: column;
        gap: 0;
    }
}